.wp-block-quote {
    color: #333366;
}

.wp-block-quote.is-style-fancy-quote {
    color: #333366;
}

.wp-block-quote.is-style-fancy-quote p{
    color: #333366;
    font-style: italic;
    font-weight: bold;
}

.entry-content > * {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.alignwide {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.alignfull {
    width: 100%;
}

.wp-block-button.is-style-fc-button a{
    color: #ff5f5f;
    background-color: #333366;
    font-size: 1.125em;
    cursor: pointer;
    padding: calc(.667em + 2px) calc(1.333em + 2px);
    text-align: center;
    border-radius: inherit;
}

.is-style-fc-button a:hover{
    color: #333366;
    background-color: transparent;
    border: 2px solid #333366;
}

.wp-block-button__link {
    color: #ff5f5f;
    background-color: #333366;
    font-size: 1.125em;
    cursor: pointer;
    padding: calc(.667em + 2px) calc(1.333em + 2px);
    text-align: center;
    border-radius: inherit;
}

a.wp-block-button__link.add_to_cart_button.ajax_add_to_cart {
    color: #ff5f5f;
    background-color: #333366;
    font-size: 1.125em;
    cursor: pointer;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    text-align: center;
    border-radius: inherit;
}

a.wp-block-button__link.add_to_cart_button.ajax_add_to_cart:hover {
    color: #ff5f5f;
    background-color: transparent;
    border: 2px solid #ff5f5f;
}

.wc-block-grid__product-title {
    color: #000000;
    font-size: 15pt;
}